@(phones: List[Phone], phoneForm: Form[(String, String)])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Phonebook") {
  <table style="text-align: center; border: 1px double black; width: 100%;">
    <tr><th>Number</th><th>Name</th></tr>
    @phones.map { phone =>
      <tr><th>@phone.number</th><th>@phone.name</th></tr>
    }
  </table>

  <h2>Add phone number</h2>
  @form(CSRF(routes.HomeController.addPhoneNumber())){
    @inputText(phoneForm("number"))
    @inputText(phoneForm("name"))
    <input type="submit" value="Add">
  }
}